/* .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
	background-color: rgba(255,255,255,.1);
	color: #fff;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
	background-color: #007bff;
    color: #fff;
} */
.activo{
	background-color: #007BFF!important;
	color: #fff !important;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	border-radius: 2px;
}
.activo > a{
	color: #fff!important;
}

.headerRegistrer , .header-primary{
	background-color: #1ba39c;
	color: #FFF;
}
.headerUpdate{
	background-color: #0B132B;
	color: #FFF;
}
.notBlock{
	display: none;
}